@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans", sans-serif;
  color: #4a5c80;
}

/********* homepage  ***********/
.hero {
  background-image: url("/images/homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/********** select & option customize  **********/
select {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
}

/* change the appearance of the options when the select is open */
select:focus {
  outline: none;
  border-color: #555;
  box-shadow: 0 0 3px 1px #555;
}

select:focus option {
  background-color: #eee;
}

.text-color-cus path {
  color: #fff !important;
}

/******** customize scroll bar  ***********/

/* Webkit-based browsers */
::-webkit-scrollbar {
  width: 4px !important;
  height: 8px !important;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #4a5c80;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #002453;
}

/********** on card hover design its content  ***********/
.card:hover .card-header,
.card:hover .card-button {
  color: #002453;
}

.card:hover .card-header {
  text-decoration: underline;
}

/********** contact us  ************/
.top-navbar {
  background-image: url("/images/homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/********** about us  ************/
.about-us-bg-img {
  background-image: url("/images/homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* parallax  */
.bgStyle {
  filter: brightness(90%);
}
