@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind component class  */
.text-style {
  @apply text-lg font-medium;
}
.header-style {
  @apply text-3xl font-bold;
}

* {
  font-family: "Noto Sans", sans-serif;
  color: #4a5c80;
}

/* navlink */
.active {
  /* text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: #1e4f8e; */
  /* background-color: #f7eede; */
  background-color: #4a5c80;
  padding: 2px 8px;
  border-radius: 5px;
  font-weight: 500;
  color: #fff;
}
/********* homepage  ***********/

.Typewriter span {
  /* background: linear-gradient(to right, from-#4A5C80, to-#002453); */
  color: #002453;
}
.hero {
  background-image: url("/images/homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/********** select & option customize  **********/
select {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
}

/* change the appearance of the options when the select is open */
select:focus {
  outline: none;
  border-color: #555;
  box-shadow: 0 0 3px 1px #555;
}

select:focus option {
  background-color: #eee;
}

.text-color-cus path {
  color: #fff !important;
}

/******** customize scroll bar  ***********/

/* Webkit-based browsers */
::-webkit-scrollbar {
  width: 4px !important;
  height: 8px !important;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #4a5c80;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #002453;
}

/********** on card hover design its content  ***********/
.card:hover .card-header,
.card:hover .card-button {
  color: #002453;
}

.card:hover .card-header {
  text-decoration: underline;
}

/********** contact us  ************/
.top-navbar {
  background-image: url("/images/homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/********** about us  ************/
.about-us-bg-img {
  background-image: url("/images/homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/********** service-lipo laser  ************/
.lipo-laser-bg-img {
  background-image: url("/images/homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

/* parallax  */
.bgStyle {
  filter: brightness(90%);
}

/* carosel  */
.indiana-scroll-container {
  color: #002453;
  background: #000;
}
.snap-mandatory {
  color: #002453;
  background: #000;
}
.bottom-5 button {
  /* color: #002453; */
  background: #002453;
}

/* card  */

.flex.rounded-lg.border.border-gray-200.bg-white.shadow-md.dark\:border-gray-700.dark\:bg-gray-800.flex-col {
  height: 100%;
}
.card-package div img {
  height: 17rem !important;
}
